<div class="confirmation-modal" [ngStyle]="{'display': showModal ? 'block' : 'none'}">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <p>¿Estás seguro de eliminar el producto {{description}}?</p>
      <div class="divider"></div>

    <div class="button-container">
        <button  type="button" class="secondary-button "  (click)="closeModal()">Cancelar</button>
        <button type="button" class="primary-button "  (click)="deleteRecord()">Eliminar</button>

    </div>
     
    </div>
  </div>
  