.table-container {
    overflow-x: auto;
    position: relative;
}

table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    text-align: center;
    font-size: 12px;
}
th {
    background-color: #f4f5fb;
    padding: 25px;
    font-size: 12px;
    text-align: center;
}
tr{
    background-color:  #ffff ;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #ffff;
}


.table-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    background-color: #ffff;
}

.paginator {
    margin-right: 20px;

}

.paginator select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 60px;
    height: 40px;
}

.counter {
    margin-right: auto;

}

.container-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgb(172, 171, 171);
}

.container-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;

}


@media screen and (max-width:400) {
    .table-container {
        overflow-x: auto;
    }

    table {
        width: 100%;
    }

    th,
    td {
        white-space: nowrap
    }

}

@media screen and (max-width:400) {
    .table-footer {
        flex-direction: column;
    }

    .counter,
    .paginator {
        margin-bottom: 5px;
    }
}